
<!--ユーザー一覧-->
<table class='table'>
<thead>
<tr>
<th>image</th>
<th>name</th>
<th colspan="1"></th>
</tr>
</thead>

<tbody>
<% users.each do |user| %>

<tr>

<!--投稿ユーザー画像-->
<td><%= image_tag user.get_profile_image(100,100) %></td>

<td><%= user.name %></td>

<td><%= link_to user_path(user.id) do %>Show</td>
</tr>
<% end %>
<% end %>
</tbody>
</table>