<h1>Users</h1>

<!--ユーザー一覧-->
<% users.each do |user| %>

<div>
<!--投稿ユーザー画像-->
<p>image <%= image_tag user.get_profile_image(100,100) %></p>

<p>name<%= user.name %></p>

<p><%= link_to user_path(user.id) do %>Show</p>

<% end %>

<% end %>