<h1>User info</h1>
<% if current_user %>
<%= render 'userinfo', user: current_user %>
<% end %>

<h1>New book</h1>
<%= render 'books/newbook', book: @book %>

<h1>Users</h1>
<%= render 'users',users: @users %>
